/* variables for color */
:root {
  --color-github: #181717;
  --color-gitlab: #fc6d26;
  --color-email: #ea4335;
  --color-discord: #5865f2;
}

html {
  font-family: monospace;
  /* font-family: monospace, "Fira Mono", "JetBrains Mono", "Menlo", "Consolas",
    "Liberation Mono", "Courier New", Courier; */
}

body {
  margin: 0;
  padding: 20px;
  /* background-color: #f0f0f0; */
  color: #333;
}
#app {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.h {
  margin-bottom: 10px;
  padding: 0;
  border-bottom: 1px solid black;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.h::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: red;
  z-index: -1;
  transition:
    all 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    padding-left 0.12s cubic-bezier(0.4, 0, 0.2, 1);
}

.h:hover::before {
  width: 100%;
}

.h:hover {
  color: white;
  padding-left: 20px;
  color: white;
  border-bottom: 1px solid red;
}

.h {
  position: relative;
  z-index: 1;
}

.h span {
  position: relative;
  z-index: 2;
}

a {
  position: relative;
  text-decoration: none;
  color: #5865f2;
}

.github {
  color: var(--color-github);
}
.gitlab {
  color: var(--color-gitlab);
}
.email {
  color: var(--color-email);
}
.discord {
  color: var(--color-discord);
}

a::before {
  position: absolute;
  translate: -200%;
  content: '>';
  color: transparent;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover::before {
  translate: -100%;
  color: inherit;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  z-index: -1;
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  left: -2px;
}

.github::after {
  background: var(--color-github);
}
.gitlab::after {
  background: var(--color-gitlab);
}
.email::after {
  background: var(--color-email);
}
.discord::after {
  background: var(--color-discord);
}

a:hover::after {
  width: calc(100% + 4px);
}
